@font-face {
    font-family: 'consolas';
    src: url(/fonts/consolas/CONSOLA.TTF);
}

body, html {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.left-side {
    border: 1px solid black;
    float: left;       
    width: 75%;        
    height: 100vh;     
}

.right-side {
    border: 1px solid black;
    float: left;       
    width: 25%; 
    height: 100vh;  
}

.UI{
    border: 1px solid black;
    width: 100%;
    height: 50%;
}

.console{
    width: 100%;
    height: 80%;
    font-family: 'consolas';
    background-color: black;
    color: greenyellow;
    font-size: 22px;
}

.buttonsection{
    width: 100%;
    height: 20%;
}

.button{

}

.start{

}

.stop{
    
}