@font-face {
    font-family: 'consolas';
    src: url(/fonts/consolas/CONSOLA.TTF);
}

.asset {
    display: none;
}

#view {
    width: 100%;
    height: 100%;
}

body,
html {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    overflow: hidden;
    max-width: 100vw;
    max-height: 100vh;
}

.left-side {
    border: 1px solid black;
    float: left;
    width: 75%;
    height: 100vh;
}

.right-side {
    border: 1px solid black;
    float: left;
    width: 25%;
    height: 100vh;
}

.UI {
    border: 1px solid black;
    width: 100%;
    height: 50%;
}

.console {
    width: 100%;
    height: 80%;
    /* font-family: 'consolas'; */
    font-family: 'Courier New', monospace;
    background-color: black;
    color: greenyellow;
    font-size: 22px;
}

.buttonsection {
    width: 100%;
    height: 20%;
}


.shop {
    display: flex;
}

.item-in-shop {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.inventory-item-image {
    width: 25%;
    height: 25%;
}

table,
th,
td {
    border: 1px solid black;
}

.shop-item-image {
    height: 50%;
    width: 50%;
}
.inventory-item-image{
    width: 25%;
    height: 25%;
}
.card {
    border: 1px solid black;
    /* width: 300px; */
    /* overflow: auto; */
}
/* .card-content {
    float: left;
}
.item{
    background-color: aliceblue;
} */
/* .card-content {
    float: right;
} */

/* .stop{
    
} */

.card-shop{
    height: 200px;
    width: auto;
    background-color: #303030;
    padding: 8px;

    font-size: 16px;
    color: red;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shop-img{
    height: 100px;
    width: auto;
}

.desc{
    height: 50px;
    width: 200px;
}
.item-name{
    height: 30px;
    width: 200px;    
}
.content{
    width: 200px;
    height: 50px;
    border: 1px solid black;
}

.special-content{
    width: 200px;
    height: 50px;
    font-size: 16px;
    border: 1px solid black;
}